.is-pc-show {
  display: block;

  @include sp() {
    display: none;
  }
}

.is-tab-show {
  display: none;

  @include tab() {
    display: block;
  }

  @include sp() {
    display: none;
  }
}

.is-sp-show {
  display: none;

  @include sp() {
    display: block;
  }
}
